a:link {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited, a:active, a:focus {
  color: #000;
}

a:hover {
  color: #3A73F6;
}

.logo {
  width: 35px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #EFF4FE;
  overflow: hidden;
  height: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 25px;
  background-color: #EFF4FE;
  border: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #000;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

main {
  background-color: #EFF4FE;
  color: #000000;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #EFF4FE;
}

li {
  margin-right: 100px;
}

.logo {
  margin-left: 20px;
}

.skill {
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: 400;
}

.title {
  -webkit-text-fill-color: hsla(0deg, 0%, 100%, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 75px;
}

.desc {
  color: #3A73F6;
}

.arrow {
  margin-top: 50px;
  text-align: center;
}

.resume {
  align-items: center;
  padding: 35px;
}

.download {
  text-align: left;
}

.landing {
  text-align: center;
  padding-bottom: 35px;
  color: #EECEFC;
}

p {
  font-weight: 200;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrow {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.btn-mine {
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 2px;
  color: #000;
}

.btn-mine:focus, .btn-mine:active, .btn-mine:visited {
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 2px;
  border: none;
}

.btn-mine:hover {
  background-color: #fff;
  color: #000;
}

.fa-solid {
  color: #3A73F6;
}

.featurette-divider {
  color: #3A73F6;
}

.intro {
  padding-top: 75px;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
    background-color: #EFF4FE;
    color: #000;
  }
  .topnav {
    background-color: #EFF4FE;
    color: #000;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin-left: 10px;
    background-color: #EFF4FE;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: none;
    color: #000;
  }
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #EFF4FE;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .logo {
    width: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  .row {
    text-align: center;
  }
  .featurette-divider {
    text-align: center;
  }
  .intro {
    text-align: center;
    align-items: center;
  }
  .title {
    -webkit-text-fill-color: hsla(0deg, 0%, 100%, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */